@import "../../styles/scss/config/variables";

.footerContainer {
  align-items: center;
  color: $primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 40px;
  padding-inline: 32px;

  @include tablet {
    padding-inline: 32px;
  }

  @include phone {
    padding-inline: 24px;
  }

  p {
    text-align: center;

    a {
      color: $brand-color;
      text-decoration: none;
    }
  }
}
