// Importar dependências
@use "../variables" as *;
@use "../mixins" as *;

// Botões e suas variações
.btn {
  @include button-style($primary-color);
}

.btn-primary {
  margin-bottom: $spacing-lg;
  @include button-style($primary-color);
}

.btn-google {
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-sm;
  @include button-style($bg-white, $text-primary);

  &:hover {
    background-color: $bg-light;
    opacity: 1;
  }
} 