$phone-max-width: 768px;
$tablet-min-width: 769px;
$tablet-max-width: 1025px;
$desktop-min-width: 1026px;

@mixin phone {
  @media only screen and (max-width: $phone-max-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin desktopSmall {
  @media only screen and (min-width: $tablet-max-width) and (max-width: 1340px) {
    @content;
  }
}
